#errorCatcher Echo
#set $Float="%.2f"
\# dateTime,barometer,inTemp,inHumidity,outTemp,max_outTemp,min_outTemp,outHumidity,count_windSpeed,windSpeed,windDir,windGust,windGustDir,rain,rainRate
#for $week in $year.spans($interval=604800)
#if $week.barometer.count.raw
$week.dateTime.format("%s"),$week.barometer.avg.format($Float,'',False),$week.inTemp.avg.format($Float,'',False),$week.inHumidity.avg.format($Float,'',False),$week.outTemp.avg.format($Float,'',False),$week.outTemp.max.raw,$week.outTemp.min.raw,$week.outHumidity.avg.format($Float,'',False),$week.windSpeed.count.raw,$week.wind.vecavg.format($Float,'',False),$week.wind.vecdir.format($Float,'',False),$week.wind.max.raw,$week.wind.gustdir.raw,$week.rain.sum.raw,$week.rainRate.sum.raw
#end if
#end for